<header>
  <h1>Entities</h1>
</header>

<section class="entities-list">
 <div class="fieldSet">
  <fieldset>
    <legend>Search Results</legend>
  <table>
     <tr>
       <td>Entity 1</td>
     </tr>
     <tr>
       <td>Entity 2</td>
     </tr>
     <tr>
       <td>Entity 3</td>
     </tr>
     <tr>
       <td>Entity 4</td>
     </tr>
  </table>
  </fieldset>
 </div>
</section>

<section class="entities-search">
  <form action="entities.html">
    <span class="ion-ios-search"></span>
    <input type="text" name="search" placeholder="Search entity.." class="search-box" />
  </form>
</section>

<section class="ownership-detail">
  <div class="fieldSet">
    <fieldset>
      <legend>Ownership Detail</legend>
        <table>
          <tr>
           <td>SIC - Industry Classification</td>
           <td>Pharmaceutical</td>
          </tr>
          <tr>
           <td>Incorporated In</td>
           <td>Switzerland</td>
          </tr>
          <tr>
           <td>Year of Inc.</td>
           <td>1995</td>
          </tr>
        </table>
    </fieldset>
  </div>
</section>

<section class="ownership">
  <div class="fieldSet">
    <fieldset>
      <legend>Ownership</legend>
        <table>
          <tr>
           <td>CEO</td>
           <td>Herby Hancock</td>
          </tr>
          <tr>
           <td>CFO</td>
           <td>John Adams</td>
          </tr>
          <tr>
           <td>COO</td>
           <td>Whoever</td>
          </tr>
        </table>
    </fieldset>
  </div>
</section>

<section class="entity-information">
  <div class="fieldSet">
    <fieldset>
      <legend>Entity Name</legend>
      <table>
        <tr>
         <td>Address</td>
        </tr>
        <tr>
         <td>Address2</td>
        </tr>
        <tr>
         <td>City, State ZIP</td>
        </tr>
        <tr>
         <td>Country</td>
        </tr>
      </table>
    <fieldset>
  </div>

</section>

<section class="entity-form">
  <form action="entities.html" method="get">
    <div class="fieldSet">
      <fieldset>
        <legend>Entity Information</legend>
        <p><label class="field" for="Entity name"><span>*</span>Entity name:</label></p>
        <p><input type="text" name="Entity name" class="textbox-300" /></p>
        <p><label class="field" for="Address"><span>*</span>Address:</label></p>
        <p><input type="text" name="Address" class="textbox-300" /></P>
        <p><label class="field" for="Address2">Address:</label></p>
        <p><input type="text" name="Address2" class="textbox-300" /></p>
        <p><label class="field" for="City"><span>*</span>City:</label></p>
        <p><input type="text" name="City" class="textbox-300" /></p>
        <p><label class="field" for="State"><span>*</span>State:</label></p>
        <p><input type="text" name="State" class="textbox-300" /></p>
        <p><label class="field" for="Zip"><span>*</span>Zip:</label></p>
        <p><input type="text" name="Zip" class="textbox-300" /></p>
        <div>
          <p><input type="submit" value="Submit" class="entity-submit" /></P>
          <span class="required">* Required</span>
        </div>
      </fieldset>
    </div>
  </form>
</section>
