<!DOCTYPE html>
<html ng-app="atlasRisk">
  <head lang="en">
      <meta charset="UTF-8">
      <title>Atlas Risk</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
      <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
      <link rel="stylesheet" type="text/css" href="app/styles/normalize.css">
      <link rel="stylesheet" type="text/css" href="app/styles/main.css">
      <link rel="stylesheet" type="text/css" href="app/styles/home.css">
      <link rel="stylesheet" type="text/css" href="app/styles/entities.css">
      <link rel="stylesheet" type="text/css" href="app/styles/entity-assets.css">

      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application'%>

  </head>
  <body>

    <nav class="navbar"> <!-- navigation bar -->
      <a ui-sref="home" class="logo">
        <img src="app/assets/images/atlas-risk-logo.png" alt="Atlas Risk">
      </a>
        <div class="links-container">
          <ul class="navbar-link">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="#">About</a></li>
            <li><a ui-sref="#">Contact</a></li>
            <li><a ui-sref="entities">RMIS</a></li>
            <li><a ui-sref="#">Sign in</a></li>
          </ul>
        </div>
    </nav>

    <ui-view></ui-view>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="app/scripts/app.js"></script>
    <script src="app/scripts/controllers/HomeCtrl.js"></script>
    <script src="app/scripts/controllers/EntitiesCtrl.js"></script>
    <script src="app/scripts/controllers/EntityAssetsCtrl.js"></script>
  </body>
</html>
